body {
    background-color: rgb(176, 175, 169);
}

button {
    border: none;
    background-color: rgb(176, 175, 169);
}

.style1 {
    color: blue;
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
}